.text-bold
{
	font-weight:600;
}


.cardbg1{
	background:#FC4F00;
}

.cardbg2{
	background:#088395;
}

.cardbg3{
	background:#F7D060;
}
.cardbg4{
	background:#070A52;
}


.cardbg5{
	background:#009FBD;
}

.cardbg6{
	background:#ED2B2A;
}

.cardbg7{
	background:#FFABAB;
}
.cardbg8{
	background:#0002A1;
}

.cardbg9{
	background:#FFD93D;
}

.cardbg10{
	background:#576CBC;
}

.cardbg11{
	background:#27E1C1;
}
.cardbg12{
	background:#E90064;
}